In [53]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv('speed_dating_speed_analysis.tsv', sep='\t')

In [5]:
#How many dates happened?

len(df)

7749

In [6]:
# How many couples (dates) were the same race?

len(df[df['race_female']==df['race_male']])

3101

In [7]:
# what is the females' median age?

df['age_female'].median()

26.0

In [12]:
# what is the 2nd most common profession across all participants


pd.concat([df['field_female'],df['field_male']]).value_counts().index[1]

'business'

In [28]:
# What is the most common single race


races = pd.concat([df['race_male'],df['race_female']]).to_frame()
melted_values = races[0].str.split("/", expand=True).melt()
melted_values['value'].value_counts().index[0]

'european'

In [39]:
# How many Male Asian American practice law (and went on the speed dating)?

len(df[
    (df['field_male']=='law')&
    (df['race_male'].str.contains('asian-american'))&
    (~df['race_male'].str.contains('caucasian-american'))
])

128

In [43]:
# A match is when both sides have a decision of 1, how many matches are there?

len(df[(df['decision_female']==df['decision_male']) &
        (df['decision_male'] ==1)])

1305

In [46]:
# How many same age same field same race dates decided to match?

df[
    (df['field_female']==df['field_male']) &
    (df['race_female']==df['race_male']) &
    (df['age_female']==df['age_male']) &
    (df['age_female']==df['age_male']) &
    (df['decision_female']== 1 )& 
    (df['decision_male']==1)
]

,age_female,age_male,race_female,race_male,field_female,decision_female,decision_male,funny_female,funny_male,field_male
455,23.0,23.0,black/african american,black/african american,law,1,1,8.0,10.0,law

In [51]:
#Alternative
# How many same age same field same race dates decided to match?
decided_to_date = df[(df['decision_female']==df['decision_male']) &
                     (df['decision_male'] ==1)].copy()


decided_to_date[(decided_to_date['race_female']==decided_to_date['race_male'])&
                (decided_to_date['age_female']==decided_to_date['age_male'])&
                (decided_to_date['field_female']==decided_to_date['field_male'])
               ]

,age_female,age_male,race_female,race_male,field_female,decision_female,decision_male,funny_female,funny_male,field_male
455,23.0,23.0,black/african american,black/african american,law,1,1,8.0,10.0,law

In [56]:
# what is the biggest age difference in years
(np.abs(df['age_female']-df['age_male'])).max()

32.0

In [61]:
primes = 1,3,5,7,11

print(df['funny_female'].unique())
print(df['funny_male'].unique())

len(df[(df['funny_female'].isin(primes))&(df['funny_male'].isin(primes))])

[ 8.  9.  7. 10.  6.  5.  3.  4.]
[ 8.   7.  10.   6.   5.   9.   4.   1.   3.   2.   5.5  6.5  9.5  0.
  7.5  8.5 11. ]

472

In [67]:
# How many dates occurred where the ratio 
# between the participants is greater than times 2

len(
    df[~(df['age_female']/df['age_male']).between(0.5,2)]
)

5

In [74]:
# What's the most frequent combination of professions?
# How many times does this combination of profession occur? 



df[['field_female',
    'field_male',
    'age_female']].groupby(['field_female',
                            'field_male']).count().sort_values('age_female', ascending=False)


# (law-business + business-law =>53+42 = 95)

                                                         age_female
field_female                 field_male
law                          business                            53
                             law                                 50
business                     law                                 42
mba                          law                                 38
business                     business                            37
...                                                             ...
film                         neuroscience and education           1
                             nutrition/genetics                   1
                             nutritiron                           1
                             physics                              1
writing: literary nonfiction social work                          1

[4738 rows x 1 columns]

In [80]:
# What's the most frequent first letter in participants' professions?

pd.concat([df['field_female'],df['field_male']]).apply(lambda x: x[0]).value_counts()

m    2563
b    2476
e    1743
s    1554
l    1221
i    1103
p    1020
c     994
f     643
a     463
n     336
g     297
h     260
o     216
t     189
u     136
j     109
r      84
w      55
q      36
dtype: int64

'C:\\Users\\Tal Mizrachi\\Desktop\\ap img\\competition'